<!DOCTYPE html>
<html>
  <head>
    <title>Login com Telegram</title>
    <link
      rel="stylesheet"
      href="{{ request.url_for('static', path='style.css') }}"
    />
  </head>
  <body>
    <h1>Login com seu número de telefone</h1>
    <form action="/login" method="post">
      <label for="phone">Número de telefone (com +55...):</label>
      <input type="text" id="phone" name="phone" required />
      <button type="submit">Fazer Login</button>
    </form>
    <p style="color: green">{{ success_message }}</p>
    <p style="color: red">{{ error_message }}</p>
  </body>
</html>
